<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>List Music</h1>
<a href="/add"> Add new Music</a>
<table border="10" cellpadding="20" cellspacing="10">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Music</th>
        <th colspan="2">Action</th>
    </tr>
    <tr th:each="p:${list}">
        <td th:text="${p.id}"></td>
        <td th:text="${p.name}"></td>
        <td><audio controls>
                <source th:src="@{|/upload/${p.path}|}" type="audio/mpeg">
            </audio>
        </td>
        <td><a th:href="@{|/edit/${p.id}|}">Edit</a></td>
        <td><a th:href="@{|/delete/${p.id}|}">Delete</a></td>
    </tr>
</table>
</body>
</html>